{% extends 'layout.html'%}
{% block body %}
<div>
    <Form action="{{url_for('edit_blog', id=post.id)}}" method="POST" class="flex col">
        {{ form.hidden_tag() }}
        {% for field in form %}
        <div  class="flex col t-1">
            {% if field.widget.input_type != 'hidden'  %}
            {{field.label(style="padding-bottom: 10px;")}}
            {{ field(size=20, placeholder=field.name) }} 
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="t-1">UPDATE</button>
    </Form>
</div>
{% endblock %}